---
import "@/styles/global.css";
import { metadata } from "../lib/metadata";

const { title, description, image, name } = metadata;
const {
  site,
  url: { pathname },
} = Astro;
const canonicalUrl = new URL(pathname, site).href;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, viewport-fit=cover" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content={name} />
    <link rel="apple-touch-icon" type="image/png" href="/mobile.png" />
    <link rel="canonical" href={canonicalUrl} />
    <link rel="alternate" hreflang="x-default" href={canonicalUrl} />
    <title>{title}</title>
    <meta name="author" content="verdu | verdu@live.com" />
    <meta name="robots" content="index, follow" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:image" content={image} />
    <meta property="og:description" content={description} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:image:alt" content={title} />

    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Holirentals™",
        "url": "https://www.holirentals.com/"
      }
    </script>

    <script type="application/ld+json" is:inline>
      {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "url": "https://www.holirentals.com/",
        "logo": "https://www.holirentals.com/logo-512.png",
        "image": "https://www.holirentals.com/card.jpg",
        "name": "Holirentals™",
        "description": "Holirentals™ ofrece soluciones de gestión de alquiler de vacaciones de alta calidad, con un enfoque en la seguridad y la adaptabilidad a las normativas actuales.",
        "email": "info@holirentals.com",
        "telephone": "(+34) 622 448 517",
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Spain",
          "addressCountry": "ES",
          "addressRegion": "Barcelona"
        }
      }
    </script>
  </head>
  <body class="bg-gray-950 text-gray-100">
    <main class="flex min-h-svh flex-col overflow-hidden">
      <slot />
    </main>
  </body>
</html>
